*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
    line-height: 1.8;
}

body{
    background:#ecf0f0;
    padding:30px;
}
.header{
    flex: auto;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}
.photo{
    margin-left: 20px;
}
.photo img{
    width:100px;
    height:120px;
    border:2px solid #acc6e2;
    border-radius:10px;
    object-fit:cover;
}
.resume{
    max-width:900px;
    margin:auto;
    background-image:url(images.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

mark{
    background-color:#ffd700;
    padding:5px 12px;
    border-radius:5px;
    
}

header{
    text-align:center;
    margin-bottom:20px;
}

header h1{
    color:#1e3a8a;

}

section{
    margin-bottom:20px;
    padding: 10px;
}
.heading{
    display:inline-block;
    background-color:#ffd700;
    color:black;
    padding:5px 12px;
    border-radius:5px;
    margin-bottom:10px;
}


h2{
    color:#2563eb;
    margin-bottom:5px;
}

hr{
    border:1px solid #789ace;
    margin-bottom:10px;
}

ul{
    margin-left:20px;
    line-height:1.8;
}

table{
    width:100%;
    border-collapse:collapse;
    margin:10px 0;
}

table, th, td{
    border:1px solid #ccc;
}

th{
    background:#5fb2d8;
    color:white;
}

th, td{
    padding:10px;
    text-align:center;
}
.project{
    background:#12bd3d;
    padding:10px;
    margin-top:10px;
    border-left:5px solid #2563eb;
}

.footer{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
    text-align:center;
}

.footer div{
    width:20%;
}