*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#header{
    
    padding: 20px;
    text-align: center;
}
#header h1{
    color: #333;
    text-align: center;
}
#header p{
    color: #666;
    text-align: center;
}
body{
    background-image:url("/CSS Selectors/image/download (3).jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    font-family:Arial,sans-serif;
}

h2{
    color:#2563eb;
    margin:15px;
}

div{

    padding:15px;
    margin:15px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.2);
}

li{
    margin:8px;
}

mark{
    background-color:gold;
    padding:3px;
}
