*{
    margin:0;
    padding:0;

}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing:2px;
    background-color: #23d8c9;
    padding:15px;
    margin-bottom:10px;


}
p{
    font-family: "Montenegrin Gothic One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 10px;
}
h3{
    font-family:'Lucida Grande', Arial, sans-serif;
    letter-spacing:2px;
    background-color: #af37df;
    padding:15px;
    margin-bottom:10px;
}
h5 {
  font-family: "Montenegrin Gothic One", serif;
  font-weight: 400;
  font-style: normal;
  font-size:18px;
}
h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
    letter-spacing:2px;
    padding:15px;


}
h2{
    font-family:'Playfair Display', serif;
    letter-spacing:2px;
    padding:15px;
    margin-bottom:10px;
    background-color:#dfcb1e;
    
}
h6{
font-family:Montenegrin Gothic One, serif;
font-style:italic;
padding:15px;
margin-bottom:10px;
font-size:20px;


}
.font h2{
    font-family:'Franklin Gothic Medium',  Arial, sans-serif;
}